<html>
    <head>
        <title>Server Side!</title>
    </head>
    <body>
        <h1><%=title%></h1>
        <p>
            <%=date%>
        </p>
        <p>
            <ul>
                            
                    <li><%= list[i] %></li>
                <% } %>
            </ul>
        </p>
    </body>